body {
  /*background-image: url("run.jpg");*/
  background-color:gray; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
  color: black;
}

.form-control {  
    width:18%
}

.form-group  {
    align-content: center !important;
}

.custom-select {
    width:18%
}

label{
    display: inline-block;
    text-align: right;
}

.container {
    margin-top: 10%;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 25px;
}